{% extends 'header.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
   <head>
     
   </head>
   <!-- body -->
   <body>
      
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>About Us</h2>
                     <li>This website is design <br> by a cla team.  <br>In this website we are selling the best Quality of accessories , Laptop and Computer.</li>
                     
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="{% static 'images/about.jpg' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end about section -->
      
   </body>
</html>
{% endblock %}
