{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body>
      
      <!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     {% if carts %}
                        <h2>My Cart</h2>
                     {% else %}
                        <h2>No Product In Cart</h2>
                     {% endif %}
                     
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">
                        {% for i in carts %}
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <a href="{% url 'product_detail' pk=i.product.pk %}">
                              <figure><img src="{{i.product.product_image.url}}" alt="#" style="width: 200px; height: 200px;" /></figure>
                              <h3>{{i.product.product_category}}</h3>
                              </a>
                              <form method="post" action="{% url 'change_qty' pk=i.pk %}">
                                 {% csrf_token %}
                                 Product Qty : <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="10" onchange="this.form.submit();">
                                 
                              </form>
                              <h4> Product Price:{{i.product_price}}</h4>
                              <h4> Total Price:{{i.total_price}}</h4>
                              
                           </div>
                        </div>
                        {% endfor %}
                        
                     
                     </div>
                     {% if request.session.cart_count > 0 %}
                        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Net Price : {{net_price}}₹</b></h1>
                     <form method="post" action="{% url 'pay' %}">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="{{net_price}}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="Proceed To Pay" class="btn btn-success">
                     </form>
                     {% endif %}
                        
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->
      
   </body>
</html>
{% endblock %}
