{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>cla</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
   </head>
   <!-- body -->
   <body class="main-layout inner_posituong contact_page">
      
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-1col-lg-1 col-md-1 col-sm-1 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              {% if request.session.profile_pic %}

                              <a href="{% url 'profile' %}"><img src="{{request.session.profile_pic}}" alt="#"  height="100px" width="100px" /></a>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="/">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'about' %}">About</a>
                              </li>
                             
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'product' %}">Products</a>
                              </li>

                              
                              {% if request.session.email %}
                                 <li class="nav-item d_none">
                                    <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
                                 </li>
                                 <li class="nav-item d_none">
                                    <a class="nav-link" href="{% url 'wishlist' %}">
                                       <i class="fa fa-heart" aria-hidden="true"></i>
                                          {% if request.session.wishlist_count > 0 %}
                                             ({{request.session.wishlist_count}})
                                          {% endif %}
                                        
                                    </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'cart' %}">
                                       <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                          {% if request.session.cart_count > 0 %}
                                             ({{request.session.cart_count}})
                                          {% endif %}

                                    </a>
                                 </li>
                                 <li class="nav-item d_none">
                                    <a class="nav-link" href="{% url 'myorder' %}">My Order</a>
                                 </li>
                                 <li class="nav-item d_none">
                                    <a class="nav-link" href="{% url 'logout' %}">Logout({{request.session.fname}})</a>
                                 </li>


                              {% else %}
                                 <li class="nav-item">
                                 <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                 </li>
                                 <li class="nav-item d_none">
                                 <a class="nav-link" href="{% url 'login' %}">Login</a>
                                 </li>
                                 <li class="nav-item d_none">
                                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                                 </li>
                              {% endif %}
                              
                              
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      {% block content %}
      {% endblock %}
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <img class="logo1" src="{% static 'images/logo1.png' %}" alt="#"/>
                     <ul class="social_icon">
                        <li><a href="https://www.facebook.com/profile.php?id=100036011299104"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/dev-patel-a4b18a217/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/its_dev_patel_1111/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <h3>About Us</h3>
                     <ul class="about_us">
                        <li>This website is design <br> by a cla team.  <br>In this website we are selling the best Quality of accessories , Laptop and Computer.</li>
                     </ul>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <h3>Contact Us</h3>
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true" style="font-size:20px;"></i>  B-402 ISHAN COMPLEX , CHANDKHEDA , NEW CG ROAD</li>
                        <br>
                        <li><i class="fa fa-phone" aria-hidden="true" style="font-size:20px;"></i> +919510841891</li>
                        <br>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> pateldev8987@gmail.com</li>
                     </ul>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <form class="bottom_form" method="post" action="{% url 'subscribe' %}">
                        <h3>Newsletter</h3>
                        {% csrf_token %}
                        <input class="enter" placeholder="Enter your email" type="text" name="email">
                        <button class="sub_btn">subscribe</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. Design by cla Team.</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>

