{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body>
      
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Enter OTP:</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  {% if msg %}
                     <center><font size="5"><b style="color:white;">{{msg}}</b></font></center>
                  {% endif%}
                  <form id="request" class="main_form" method="post" action="{% url 'verify_otp' %}">
                     {% csrf_token %}
                     <div class="row">
                        <input type="hidden" name="otp" value="{{otp}}">
                        <input type="hidden" name="email" value="{{email}}">
                        
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Enter OTP" type="text" name="uotp"> 
                        </div>
                        
                        </div>
                        <div class="col-md-6">
                           <button class="send_btn">Verify OTP</button>
                        </div>
                       
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      
   </body>
</html>

{% endblock %}