{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body>
      
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="font-size: 30px;">Change Password</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  {% if msg %}
                     <center><font size="5"><b style="color:white;">{{msg}}</b></font></center>
                  {% endif%}
                  <form id="request" class="main_form" method="post" action="{% url 'seller_change_password' %}">
                     {% csrf_token %}
                     <div class="row">
                        
                        
                         <div class="col-md-12">
                           <input class="contactus" placeholder="Old Password" type="password" name="old_password" required> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="New Password" type="password" name="new_password" required> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Confirm New Password" type="password" name="cnew_password" required> 
                        </div>
                        
                        
                        
                        
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Change Password</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      
   </body>
</html>

{% endblock %}