{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body>
      
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Edit Product</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  {% if msg %}
                     <center><font size="5"><b style="color:white;">{{msg}}</b></font></center>
                  {% endif %}
                  <form id="request" class="main_form" method="post" action="{% url 'seller_edit_product' pk=product.pk %}" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-md-12 " style="color: white; font-size: 20px;">
                           <select name="product_category" class="contactus">
                              <option style="background-color: black;">---Select Product Category---</option>
                              {% if product.product_category == "Computer" %}
                                  <option value="Computer"style="background-color: black;" selected>Computer</option>
                                  <option value="Laptop"style="background-color: black;">Laptop</option>
                                  <option value="Accessories"style="background-color: black;">Accessories</option>
                              {% elif product.product_category == "Laptop" %}
                                  <option value="Computer"style="background-color: black;">Computer</option>
                                  <option value="Laptop"style="background-color: black;" selected>Laptop</option>
                                  <option value="Accessories"style="background-color: black;">Accessories</option>
                              {% elif product.product_category == "Accessories" %}
                                  <option value="Computer"style="background-color: black;">Computer</option>
                                  <option value="Laptop"style="background-color: black;">Laptop</option>
                                  <option value="Accessories"style="background-color: black;" selected>Accessories</option>
                              {% else %}
                                  <option value="Computer"style="background-color: black;">Computer</option>
                                  <option value="Laptop"style="background-color: black;">Laptop</option>
                                  <option value="Accessories"style="background-color: black;">Accessories</option>
                              {% endif %}


                             

                           </select>
                        </div>
                        <div class="col-md-12 ">
                           <input class="contactus" value="{{product.product_name}}" name="product_name"> 
                        </div>
                        <div class="col-md-12 ">
                           <input class="contactus" value="{{product.product_price}}" name="product_price"> 
                        </div>
                         <div class="col-md-12 ">
                           <input class="contactus" value="{{product.discount}}" name="discount"> 
                        </div>
                                                  
                        
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Product Description" name="product_desc">{{product.product_desc}}</textarea>
                        </div>
                        <div class="col-md-12">
                           <img src="{{product.product_image.url}}" width="100px" height="100px">
                        </div>
                        <div class="col-md-12">
                           <input class="contactus"name="product_image" type="file">                          
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Update Product</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      
   </body>
</html>

{% endblock %}